a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.hover_color-black:hover {
    color: #ffffff !important;
    background-color: black;
}

.hover_scale{
    transition: transform 0.3s ease;
}

.hover_scale:hover{
    transform: scale(1.1);
}
.sub-header {
    left: 7%;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
}
.sub-header-link{
    color: #3c3c3c;
}

.nav-item:hover .sub-header, .sub-header:hover {
    display: block !important;
}

.hover_text-black:hover {
    color: black !important;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #f8f9fa;
}
.new-label {
    background-color: #0071e3;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    border-radius: 15px;
    position: absolute;
    top: 30px;
    left: 20px;
}
.product-image {
    width: 100%;
    margin-top: 20px;
    /* max-width: 200px; */
}

